body {
  margin: 0;
}

.christmas-body {
  position: fixed;
  width: 15vw;
  height: 100vh;
  background: #0e1546;
  overflow: hidden;
}

@keyframes TrouserCornerLeftMove {
  0% {
    left: 4.95vw;
    transform: rotate(26deg);
  }
  50% {
    left: 5.3vw;
    transform: rotate(15deg);
  }
  100% {
    left: 4.95vw;
    transform: rotate(26deg);
  }
}

@keyframes HandRightMove {
  0% {
    transform: rotate(-43deg);
  }
  50% {
    transform: rotate(-64deg);
  }
  100% {
    transform: rotate(-43deg);
  }
}

@keyframes ReflectiveMove {
  0% {
    left: 0;
    height: 1.9vw;
    bottom: 0vw;
  }
  50% {
    left: -0.5vw;
    height: 1.5vw;
    bottom: 0.3vw;
  }
  100% {
    left: -1.8vw;
    height: 0.5vw;
    bottom: 1vw;
  }
}

@keyframes HandLeftMove {
  0% {
    transform: rotate(-43deg);
  }
  50% {
    transform: rotate(-32deg);
  }
  100% {
    transform: rotate(-43deg);
  }
}

@keyframes LightMove {
  0% {
    height: 1.4vw;
  left: -0.3vw;
  top: 0.55vw;
  }
  50% {
    height: 1vw;
  left: -0.3vw;
  top: 0.55vw;
  }
  100% {
    height: 0.4vw;
    left: -0.2vw;
    top: 0.13vw;
  }
}

@keyframes MoustacheTwoMove {
  0% {
    transform: rotate(102deg);
  }
  50% {
    transform: rotate(70deg);
    left: 0.5vw;
  }
  100% {
    transform: rotate(102deg);
    left: -0.5vw;
  }
}

@keyframes MoustacheThreeMove {
  0% {
    transform: rotate(52deg);
  }
  50% {
    transform: rotate(70deg);
    left: -2vw;
  }
  100% {
    transform: rotate(52deg);
    left: -3vw;
  }
}

@keyframes MoustacheFourMove {
  0% {
    transform: rotate(110deg);
  }
  50% {
    transform: rotate(70deg);
    left: -4.5vw;
  }
  100% {
    transform: rotate(110deg);
    left: -5.5vw;
  }
}

@keyframes MoustacheFiveMove {
  0% {
    transform: rotate(48deg);
  }
  50% {
    transform: rotate(70deg);
    left: -5.5vw;
  }
  100% {
    transform: rotate(48deg);
    left: -6.5vw;
  }
}

@keyframes Wink {
  100% {
    width: 0;
	}
}

@keyframes SnowMove {
  0% {
    left: 15vw;
  }
  100% {
    left: -15vw;
  }
}

@keyframes FlameMove {
  0% {
    width: 2.5vw;
    left: -6vw;
  }
  100% {
    width: 1.5vw;
    left: -5vw;
  }
}

@keyframes SpeedMove {
  0% {
    width: 1vw;
    left: 1.25vw;
    top: 1vw;
  }
  33% {
    width: 0.7vw;
    top: 1.4vw;
    left: 1.4vw;
  }
  66% {
    width: 0.4vw;
    left: 1.55vw;
    top: 2vw;
  }
  100% {
    width: 0.2vw;
    left: 1.7vw;
    top: 2.3vw;
  }
}

@keyframes SpeedRightMove {
  0% {
    width: 1vw;
    left: 5.76vw;
    top: 1vw;
  }
  33% {
    width: 0.7vw;
    top: 1.4vw;
    left: 5.9vw;
  }
  66% {
    width: 0.4vw;
    left: 6.05vw;
    top: 2vw;
  }
  100% {
    width: 0.2vw;
    left: 6.2vw;
    top: 2.3vw;
  }
}

@keyframes LeadMove {
  0% {
    left: -14vw;
    transform: rotate(3deg);
    bottom: 4vw;
  }
  20% {
    left: -2vw;
    transform: rotate(-5deg);
    bottom: 4vw;
  }
  30% {
    left: 2vw;
    transform: rotate(4deg);
    bottom: 4vw;
  }
  50% {
    left: 19vw;
    transform: rotate(-20deg);
    bottom: 4.1vw;
  }
  100% {
    left: 50vw;
    transform: rotate(-30deg);
    bottom: 5vw;
  }
}

@keyframes RollMove {
  0% {
    left: -2.5vw;
  }
  50% {
    left: -2vw;
  }
  100% {
    left: -2.5vw;
  }
}

@keyframes HatMove {
  0% {
    bottom: -0.3vw;
    transform: rotate(45deg);
  }
  50% {
    bottom: -0.2vw;
    transform: rotate(48deg);
  }
  100% {
    bottom: -0.3vw;
    transform: rotate(45deg);
  }
}

.background {
  position: absolute;
  bottom: 5vw;
}

.background-one, .background-one:before {
  position: absolute;
  width: 15vw;
  height: 0.5vw;
  bottom: 15.3vw;
  background: #161a52;
}

.background-one:before {
  content: '';
  top: -0.4vw;
  height: 0.2vw;
}

.background-one:after {
  content: '';
  position: absolute;
  top: 2vw;
  width: 15vw;
  height: 0.6vw;
  background: #161a52;
}

.background-two, .background-two:after {
  position: absolute;
  width: 15vw;
  height: 1vw;
  bottom: 12.2vw;
  background: #1f205f;
}

.background-two:before {
  content: '';
  position: absolute;
  width: 15vw;
  height: 0.2vw;
  top: 1.1vw;
  background: #161a52;
}

.background-two:after {
  content: '';
  top: 1.4vw;
}

.background-three, .background-three:before,
.background-three:after {
  position: absolute;
  width: 15vw;
  height: 0.8vw;
  background: #161a52;
  bottom: 10vw;
}

.background-three:before {
  content: '';
  height: 0.5vw;
  top: 1.5vw;
}

.background-three:after {
  content: '';
  height: 0.1vw;
  top: 2.3vw;
}

.background-four {
  position: absolute;
  width: 15vw;
  height: 5vw;
  background: #161a52;
  bottom: 2vw;
}

.background-four:before {
  content: '';
  position: absolute;
  width: 15vw;
  height: 2vw;
  top: 5vw;
  background: #1f205f;
}

.star {
  position: absolute;
  height: 0.1vw;
  width: 0.1vw;
  border-radius: 1vw;
  background: #fff;
}

.land, .land:before {
  position: absolute;
  bottom: 0;
  width: 15vw;
  height: 0.3vw;
  background: #fff;
}

.land:before {
  content: '';
  background: #23999b;
  bottom: 0.3vw;
}

.snow {
  position: absolute;
  bottom: 0;
  animation: SnowMove 3s linear infinite;
}

.snow-one, .snow-two, .snow-three {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  background: #fff;
  bottom: -0.4vw;
  border-top-left-radius: 40%;
  transform: rotate(45deg);
  left: 2vw;
}

.snow-two {
  left: 4vw;
}

.snow-three {
  left: 7vw;
}

.snow-one:before, .snow-two:before,.snow-three:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 0.2vw;
  height: 0.2vw;
  left: 0.6vw;
  bottom: 1.7vw;
  border-radius: 100%;
}

.house-and-tree {
  position: absolute;
  bottom: 0.6vw;
  animation: SnowMove 7s linear infinite;
}

.house {
  position: absolute;
  background: #393569;
  width: 1.5vw;
  height: 4vw;
  bottom: 0;
  left: 3vw;
}

.house:before {
  content: '';
  position: absolute;
  border-left: 0.76vw solid transparent;
  border-right: 0.76vw solid transparent;
  border-bottom: 2vw solid #393569;
  bottom: 4vw;
}

.house:after, .window-three {
  background: #f2af53;
  position: absolute;
  width: 0.3vw;
  height: 0.3vw;
  left: 1.3vw;
  top: 0.4vw; 
}

.house:after {
  content: '';
  left: 1vw;
  top: 1.5vw;
}

.house-right {
  position: absolute;
  background: #333377;
  height: 4vw;
  width: 2.2vw;
  left: 1.5vw;
}

.house-right:before {
  content: '';
  position: absolute;
  border-top: 2vw solid #444484;
  border-left: 0.7vw solid transparent;
  border-right: 1.8vw solid transparent;
  bottom: 3.9vw;
  left: -0.7vw;
}

.house-right:after {
  content: '';
  position: absolute;
  border-bottom: 2vw solid #444484;
  border-left: 1.7vw solid transparent;
  border-right: 0.7vw solid transparent;
  bottom: 4vw;
}

.window-one, .window-two {
  position: absolute;
  background: #f2af53;
  width: 0.7vw;
  height: 0.7vw;
  top: 0.5vw;
  left: 0.2vw;
}

.window-two {
  top: 3vw;
}

.window-one:before, .window-two:before {
  content: '';
  position: absolute;
  width: 0.1vw;
  height: 0.7vw;
  background: #333377;
  left: 0.27vw;
}

.window-one:after, .window-two:after {
  content: '';
  position: absolute;
  width: 0.7vw;
  height: 0.1vw;
  background: #333377;
  top: 0.27vw;
}

.eaves {
  position: absolute;
  width: 2.4vw;
  height: 0.2vw;
  background: #2a2a6c;
}

.wall-one, .wall-two, .wall-three {
  position: absolute;
  width: 0.8vw;
  height: 0.2vw;
  background: #2a2a6c;
  top: 1.2vw;
  left: 1.3vw;
}

.wall-two {
  top: 1.6vw;
}

.wall-three {
  left: 0.4vw;
  top: 2.2vw;
}

.tree:nth-child(2) {
  position: absolute;
  left: 9vw;
  height: 1.7vw;
}

.tree:nth-child(3) {
  position: absolute;
  left: 12vw;
  height: 1vw;
}

.leaves-one {
  position: absolute;
  bottom: 0;
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  border-bottom: 2vw solid #374888;
}

.leaves-two {
  position: absolute;
  border-left: 1.1vw solid transparent;
  border-right: 1.1vw solid transparent;
  border-bottom: 2vw solid #374888;
  bottom: 0.9vw;
  left: 0.4vw;
}

.leaves-three {
  position: absolute;
  border-left: 0.9vw solid transparent;
  border-right: 0.9vw solid transparent;
  border-bottom: 2vw solid #374888;
  bottom: 1.8vw;
  left: 0.6vw;
}

.leaves-four {
  position: absolute;
  border-left: 0.6vw solid transparent;
  border-right: 0.6vw solid transparent;
  border-bottom: 2vw solid #374888;
  bottom: 2.7vw;
  left: 0.85vw;
}

.lead {
  position: absolute;
  bottom: 4vw;
  animation: LeadMove 8s linear infinite;
  left: 2vw;
}

.skate {
  position: absolute;
  width: 9vw;
  height: 0.5vw;
  background: #ff77aa;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 2vw;
  box-shadow: -0.5vw 0.23vw 0px 0px #d85e93;
  border-bottom-left-radius: 14px;
}

.skate:before {
  content: '';
  position: absolute;
  width: 2.5vw;
  height: 0.5vw;
  background: #ff77aa;
  left: -2.3vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(8deg);
  bottom: 0.16vw;
}

.skate:after {
  content: '';
  position: absolute;
  background: #d85e93;
  width: 1.8vw;
  height: 0.2vw;
  top: 0.25vw;
  left: -2.1vw;
  border-bottom-left-radius: 10px;
  transform: rotate(11deg);
}

.floor, .floor:before {
  position: absolute;
  width: 2vw;
  height: 0.2vw;
  background: #d15455;
  top: 0.7vw;
  left: 0.8vw;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.floor:before {
  content: '';
  left: 4.5vw;
  top: 0;
}

.tail, .tail:before {
  position: absolute;
  height: 0;
  width: 0.4vw;
  border-top: 0.8vw solid #ab4444;
  top: 0.55vw;
  left: -1.5vw;
  border-right: 0.8vw solid transparent;
  transform: rotate(11deg);
}

.tail:before {
  content: '';
  border-bottom: 1vw solid #ab4444;
  border-right: 1.3vw solid transparent;
  border-top: 0;
  top: -2.4vw;
  left: -0.6vw;
  transform: rotate(-4deg);
  width: 0.3vw;
}

.tail-right {
  position: absolute;
  width: 2.5vw;
  height: 0.5vw;
  background: #ff77aa;
  left: 8.8vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(-4deg);
  bottom: 0.125vw;
}

.tail-right:before {
  content: '';
  background: #d85e93;
  position: absolute;
  width: 2.9vw;
  height: 0.2vw;
  left: -0.75vw;
  top: 0.44vw;
  transform: rotate(-2deg);
  border-bottom-right-radius: 10px;
}

.skate .head {
  position: absolute;
  border-left: 1vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-bottom: 1.8vw solid #f9dbb3;
  bottom: 0.4vw;
  left: 9vw;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 20%;
  transform: rotate(6deg);
}

.skate .head:before {
  content: '';
  position: absolute;
  background: #c94b47;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 100%;
  left: 1.6vw;
  top: 1.1vw;
}

.skate .head:after {
  content: '';
  position: absolute;
  background: #e1cf94;
  width: 0.7vw;
  height: 0.25vw;
  top: 0.8vw;
  left: 0.4vw;
  transform: rotate(30deg);
}

.horn {
  position: absolute;
  background: #998878;
  width: 0.5vw;
  height: 1.7vw;
  bottom: -1.1vw;
  border-radius: 5vw;
  transform: rotate(-57deg);
  left: -0.8vw;
}

.horn:before {
  content: '';
  border-left: 1vw solid #998878;
  width: 5vw;
  height: 1vw;
  border-radius: 100%;
  position: absolute;
}

.rocket {
  width: 3vw;
  height: 0.8vw;
  background: #fff;
  position: absolute;
  left: -2.8vw;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(-1deg);
  bottom: 1.4vw;
}

.rocket:before {
  content: '';
  position: absolute;
  background: #dd4d2f;
  width: 2.2vw;
  height: 0.8vw;
  left: -0.2vw;
  border-radius: 0px;
}

.rocket:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 0.15vw;
  height: 0.8vw;
  left: 1.5vw;
}

.tail-top {
  position: absolute;
  width: 0.3vw;
  border-bottom: 0.6vw solid #ab4444;
  border-right: 0.8vw solid transparent;
  bottom: 2.1vw;
  left: -3vw;
}

.tail-left {
  position: absolute;
  border-top: 0.5vw solid transparent;
  border-bottom: 0.5vw solid transparent;
  border-left: 0.6vw solid #ab4444;
  left: -3.4vw;
  bottom: 1.3vw;
}

.skate .flame {
  position: absolute;
  background: linear-gradient(-90deg, #f3f305, transparent);
  height: 1.3vw;
  bottom: 1.2vw;
  left: -5vw;
  border-radius: 100%;
  filter: blur(4px);
  animation: FlameMove 0.3s infinite;
}

.speed-left, .speed-right {
  position: absolute;
  background: #63b5c3;
  height: 0.1vw;
  animation: SpeedMove 0.2s linear infinite;
  animation-delay: 0.1s;
}

.speed-right {
  animation: SpeedRightMove 0.2s linear infinite;
}

.shoes-left, .shoes-right {
  position: absolute;
  border-left: 0.2vw solid transparent;
  border-right: 0.5vw solid transparent;
  border-bottom: 0.7vw solid #56dddd;
  width: 0.8vw;
  bottom: 0;
  left: 3vw;
}

.shoes-right {
  border-left: 0.3vw solid transparent;
  border-right: 0.8vw solid transparent;
  left: 6.5vw;
}

.shoes-left:before {
  content: '';
  position: absolute;
  background: #daf1f9;
  width: 0.8vw;
  height: 1vw;
  top: 0.2vw;
  left: 0.4vw;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.shoes-left:after, .shoes-right:after {
  content: '';
  position: absolute;
  width: 1vw;
  height: 0.1vw;
  background: #daf1f9;
  top: 0.6vw;
  left: -0.1vw;
}

.shoes-left .ornament, .shoes-right .ornament {
  position: absolute;
  background: #ffba43;
  width: 0.2vw;
  height: 0.2vw;
  top: 0.3vw;
  left: 0.05vw;
}

.shoes-right:before {
  content: '';
  position: absolute;
  border-left: 0.1vw solid transparent;
  border-right: 0.6vw solid transparent;
  border-bottom: 0.5vw solid #daf1f9;
  left: 0.9vw;
  top: 0.2vw;
}

.shoes-right:after {
  left: -0.25vw;
  width: 1.2vw;
}

.shoes-right .ornament {
  width: 0.3vw;
}

.leg-left, .leg-right {
  position: absolute;
  height: 3vw;
  width: 0.6vw;
  background: #fff;
  bottom: 0.2vw;
  left: 4.25vw;
  transform: rotate(40deg);
  border-bottom-right-radius: 1vw;
}

@keyframes LegLeftMove {
  0% {
    height: 3vw;
    bottom: 0.2vw;
    left: 4.25vw;
    transform: rotate(40deg);
  }
  50% {
    height: 3.5vw;
    bottom: -0.1vw;
    left: 4.5vw;
    transform: rotate(47deg);
  }
  100% {
    height: 3vw;
    bottom: 0.2vw;
    left: 4.25vw;
    transform: rotate(40deg);
  }
}

.leg-left {
  animation: LegLeftMove 0.5s linear infinite;
}

.leg-right {
  height: 2.8vw;
  bottom: 0.3vw;
  left: 7.37vw;
  transform: rotate(28deg);
}

.leg-left:before, .leg-right:before,
.leg-left:after, .leg-right:after {
  content: '';
  position: absolute;
  background: #cc4440;
  width: 0.6vw;
  height: 0.1vw;
  top: 0.6vw;
}

.leg-left:after, .leg-right:after {
  background: #57dcdc;
  top: 0.8vw;
}

.big-leg-left, .big-leg-right {
  position: absolute;
  height: 3vw;
  width: 2.6vw;
  left: 2.9vw;
  bottom: 2vw;
  border-right: 0.6vw solid #dd4d2f;
  border-radius: 3vw;
  transform: rotate(-3deg);
}

@keyframes BigLegLeftMove {
  0% {
    left: 2.9vw;
    transform: rotate(-3deg);
  }
  50% {
    left: 3.2vw;
    transform: rotate(-15deg);
  }
  100% {
    left: 2.9vw;
    transform: rotate(-3deg);
  }
}

.big-leg-left {
  animation: BigLegLeftMove 0.5s linear infinite;
}

.trousers-corner .left {
  animation: TrouserCornerLeftMove 0.5s linear infinite;
}

.big-leg-right {
  left: 5.5vw;
  bottom: 1.8vw;
  border-right: 0.6vw solid #ab4444;
  transform: rotate(-21deg);
}

.big-leg-right:before {
  content: '';
  position: absolute;
  background: #ab4444;
  width: 0.4vw;
  height: 0.7vw;
  left: 2.6vw;
  top: 0.2vw;
  transform: rotate(-14deg);
}

.trousers-corner .left, .trousers-corner .right {
  position: absolute;
  width: 1.2vw;
  height: 0.6vw;
  background: #cc4440;
  left: 4.95vw;
  bottom: 2.6vw;
  border-radius: 1vw;
  transform: rotate(26deg);
}

.trousers-corner .right {
  left: 7.7vw;
  transform: rotate(15deg);
}

.body {
  position: absolute;
  background: #dd4d2f;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 100%;
  border-top-left-radius: 50%;
  bottom: 4.3vw;
  transform: rotate(45deg);
  left: 4vw;
}

.tape {
  position: absolute;
  width: 0.7vw;
  height: 4.5vw;
  background: #fff;
  left: 2vw;
  bottom: 1.6vw;
  transform: rotate(-52deg);
  border-radius: 1vw;
}

.tape:before {
  content: '';
  position: absolute;
  width: 6vw;
  height: 2vw;
  top: 2.3vw;
  left: -3.5vw;
  border-bottom: 0.6vw solid #fff;
  border-radius: 100%;
}

.basket {
  position: absolute;
  background: #ab4444;
  width: 6.8vw;
  height: 7vw;
  bottom: 4.5vw;
  left: -1.3vw;
  border-radius: 1vw;
  transform: rotate(-5deg);
}

.basket:before {
  content: '';
  position: absolute;
  width: 8.5vw;
  height: 1.6vw;
  background: #99ccdd;
  left: -0.8vw;
  border-radius: 1vw;
}

.line-left {
  position: absolute;
  background: #fdb747;
  width: 3.5vw;
  height: 0.5vw;
  bottom: 7.5vw;
  left: 2vw;
  transform: rotate(-26deg);
}

.line-right {
  position: absolute;
  border-right: 0.45vw solid #fdb747;
  width: 2vw;
  height: 2vw;
  border-radius: 1vw;
  bottom: 7.6vw;
  left: 6.8vw;
  transform: rotate(-38deg);
}

.line-left:before {
  content: '';
  position: absolute;
  border: 0.5vw solid #fdb747;
  width: 0.2vw;
  height: 0.2vw;
  border-radius: 100%;
  left: -1vw;
  bottom: -0.3vw;
}

.line-left:after {
  content: '';
  position: absolute;
  border-bottom: 0.5vw solid #fdb747;
  width: 2.5vw;
  height: 4vw;
  border-radius: 6vw;
  bottom: -0.4vw;
  left: 1vw;
  transform: rotate(-45deg);
}

.hand-left, .hand-right {
  position: absolute;
  background: #cc4440;
  width: 5vw;
  height: 0.6vw;
  bottom: 8.7vw;
  transform: rotate(-41deg);
  left: 1.8vw;
  border-radius: 1vw;
}

.hand-left {
  animation: HandLeftMove 2s linear infinite;
}

.hand-right {
  width: 0.6vw;
  height: 1.3vw;
  bottom: 7.4vw;
  left: 9.2vw;
  transform: rotate(-43deg);
  animation: HandRightMove 2s linear infinite;
}

.hand-left:before, .hand-right:before {
  content: '';
  position: absolute;
  width: 1vw;
  height: 0.5vw;
  background: #d74744;
  border-radius: 1vw;
  transform: rotate(55deg);
  left: -0.2vw;
  top: 0.1vw;
}

.hand-right:before {
  width: 0.9vw;
  left: -0.14vw;
  top: 1.2vw;
  transform: rotate(-6deg);
}

.hand-left .arm, .hand-right .arm {
  position: absolute;
  background: #ffd5c9;
  height: 1.5vw;
  width: 0.5vw;
  transform: rotate(74deg);
  top: -0.1vw;
  left: -0.8vw;
  border-radius: 1vw;
}

.hand-right .arm {
  height: 1.7vw;
  top: 1.5vw;
  left: 0.4vw;
  transform: rotate(-23deg);
}

.hand-left .hand, .hand-right .hand {
  position: absolute;
  background: #674444;
  width: 1.3vw;
  height: 1.4vw;
  left: -2.3vw;
  transform: rotate(-34deg);
  top: 0.4vw;
  border-radius: 1vw;
}

.hand-right .hand {
  height: 1.2vw;
  top: 2.9vw;
  transform: rotate(-48deg);
  left: 0.6vw;
}

.hand-left .hand:before {
  content: '';
  position: absolute;
  border-right: 0.2vw solid #ffb343;
  width: 0.7vw;
  height: 0.3vw;
  border-radius: 14vw;
  top: 0.9vw;
  left: 0.1vw;
}

.hand-left .hand:after {
  content: '';
  position: absolute;
  border-left: 0.5vw solid #ffd5c9;
  width: 1vw;
  height: 1vw;
  border-radius: 1vw;
  left: 0.2vw;
  top: 0.25vw;
}

.hand-left .finger, .hand-right .finger  {
  position: absolute;
  background: #674444;
  width: 0.7vw;
  height: 0.3vw;
  left: -0.2vw;
  transform: rotate(10deg);
  border-radius: 1vw;
}

.hand-right .finger {
  width: 0.35vw;
  height: 0.7vw;
  top: 0.4vw;
  left: 0.95vw;
  transform: rotate(-16deg);
}

.hand-right .finger:nth-child(2) {
  transform: rotate(-1deg);
  height: 0.8vw;
  width: 0.4vw;
  top: 0.8vw;
  left: 0.65vw;
}

.hand-right .finger:nth-child(3), .hand-right .finger:nth-child(4) {
  background: #ffd5c9;
  left: 0.3vw;
  top: 0.7vw;
  transform: rotate(0deg);
  border-radius: 50%;
}

.hand-right .finger:nth-child(4) {
  left: 0vw;
  top: 0.5vw;
}

.hand-left .finger:before {
  content: '';
  position: absolute;
  width: 0.2vw;
  height: 0.3vw;
  left: -0.1vw;
  border-left: 0.1vw solid #ffd5c9;
  border-radius: 1vw;
}

.hand-left .finger:nth-child(2) {
  top: 0.4vw;
  left: -0.3vw;
  transform: rotate(2deg);
}

.hand-left .finger:nth-child(3) {
  top: 0.8vw;
  left: -0.35vw;
  transform: rotate(-12deg);
}

.hand-left .finger:nth-child(4) {
  top: 1.2vw;
  left: 0.1vw;
  transform: rotate(-12deg);
}

.hand-left .finger:nth-child(4):before {
  border-left: 0.4vw solid #ffd5c9;
  left: -0.3vw;
}

.hand-right .finger:first-child::before {
  content: '';
  position: absolute;
  width: 0.3vw;
  height: 0.4vw;
  border-radius: 100%;
  top: 0.6vw;
  background: #ffd5c9;
}

.hand-right .finger:nth-child(2)::before {
  content: '';
  position: absolute;
  background: #ffd5c9;
  width: 0.3vw;
  height: 0.8vw;
  top: 0.7vw;
  border-radius: 1vw;
}

.old-man .head {
  position: absolute;
  background: #ffd5c9;
  width: 4.5vw;
  height: 5vw;
  bottom: 10.1vw;
  left: 5.4vw;
  border-radius: 100%;
}

#moustache .one, #moustache .two,
#moustache .three, #moustache .four,
#moustache .five {
  position: absolute;
  left: 2vw;
  top: 2.5vw;
  background: #fff;
  width: 2.5vw;
  height: 3.5vw;
  border-radius: 100%;
  transform: rotate(61deg);
}

#moustache .two {
  left: 0vw;
  transform: rotate(102deg);
  animation: MoustacheTwoMove 0.5s linear infinite;
}

#moustache .three {
  left: -2.5vw;
  transform: rotate(56deg);
  animation: MoustacheThreeMove 0.5s linear infinite;
  transition-delay: 2s;
}

#moustache .four {
  left: -5vw;
  transform: rotate(110deg);
  animation: MoustacheFourMove 0.5s linear infinite;
  transition-delay: 4s;
}

#moustache .five {
  left: -6vw;
  transform: rotate(48deg);
  animation: MoustacheFiveMove 0.5s linear infinite;
  transition-delay: 6s;
}

.glasses {
  position: absolute;
  border-left: 2.5vw solid transparent;
  border-right: 0.6vw solid transparent;
  border-top: 1.5vw solid #56dddd;
  top: 1.7vw;
  left: 2vw;
  transform: rotate(1deg);
}

.glasses:after {
  content: '';
  position: absolute;
  background: #e3665d;
  width: 0.8vw;
  height: 0.5vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  left: -0.5vw;
  bottom: 0.2vw;
}

.glasses:before {
  content: '';
  position: absolute;
  border-left: 0.4vw solid transparent;
  border-right: 0.4vw solid transparent;
  border-top: 0.4vw solid #e3665d;
  bottom: 0.1vw;
  left: -1vw;
  transform: rotate(-45deg);
}

.frame-one, .frame-two {
  position: absolute;
  width: 0.9vw;
  height: 0.25vw;
  background: #56dddd;
  bottom: 1.5vw;
  left: -2.9vw;
  transform: rotate(28deg);
}

.frame-two {
  bottom: 1.3vw;
  left: -3.3vw;
  transform: rotate(-60deg);
  width: 0.8vw;
}

.frame-three, .frame-four, .frame-five {
  position: absolute;
  width: 0.7vw;
  height: 0.2vw;
  background: #56dddd;
  bottom: 1.2vw;
  left: -3.7vw;
  transform: rotate(28deg);
}

.frame-four {
  left: -4.1vw;
  transform: rotate(-49deg);
}

.frame-five {
  left: -4.5vw;
}

.frame-six {
  position: absolute;
  border-top: 0.1vw solid transparent;
  border-bottom: 4vw solid transparent;
  border-right: 0.1vw solid #56dddd;
  transform: rotate(90deg);
  left: -6.5vw;
  bottom: -0.6vw;
}

.ear, .ear-inside {
  position: absolute;
  border-top: 0.1vw solid #e8a6a7;
  height: 1vw;
  width: 0.6vw;
  border-radius: 8vw;
  left: 1.6vw;
  top: 1.6vw;
}

.ear:before, .ear-inside:before {
  content: '';
  position: absolute;
  border-left: 0.1vw solid #e8a6a7;
  width: 1vw;
  height: 1vw;
  border-radius: 1vw;
  left: -0.1vw;
}

.ear:after {
  content: '';
  position: absolute;
  width: 0.4vw;
  height: 0.4vw;
  background: #ffb343;
  top: 0.7vw;
  left: 0.1vw;
  border-radius: 1vw;
}

.ear-inside {
  border-top: 0.1vw solid #e3675b;
  width: 0.4vw;
  left: 0.15vw;
  top: 0.2vw;
}

.ear-inside:before {
  border-left: 0.1vw solid #e3675b;
  width: 0.6vw;
  height: 0.6vw;
}

.hat {
  position: absolute;
  background: #cceefe;
  width: 6vw;
  height: 1.2vw;
  left: -1.1vw;
  top: 0.5vw;
  transform: rotate(-13deg);
  border-radius: 1vw;
}

.red-hat {
  position: absolute;
  width: 4.8vw;
  height: 2vw;
  background: #dd4d2f;
  bottom: 1vw;
  left: 0.5vw;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}

.red-hat-two {
  position: absolute;
  border-left: 1vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-bottom: 2vw solid #dd4d2f;
  bottom: 2.4vw;
  left: 0.7vw;
  transform: rotate(-8deg);
}

.red-hat-three {
  position: absolute;
  border-left: 0.7vw solid #dd4d2f;
  width: 1.6vw;
  height: 5vw;
  border-radius: 3vw;
  left: -1vw;
  bottom: -0.3vw;
  transform: rotate(45deg);
  animation: HatMove 2s linear infinite;
}

.red-hat-four {
  position: absolute;
  border-top: 1.7vw solid #dd4d2f;
  border-left: 2.5vw solid transparent;
  border-right: 2.5vw solid transparent;
  transform: rotate(-41deg);
  left: -2.1vw;
  bottom: 1.3vw;
  border-top-right-radius: 1vw;
}

.white-hat {
  position: absolute;
  background: #fff;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 3vw;
  left: -2.5vw;
  animation: RollMove 2s linear infinite;
}

.reflective-light {
  position: absolute;
  width: 0.2vw;
  background: linear-gradient(45deg, #fff, transparent);
  transform: rotate(40deg);
  animation: ReflectiveMove 0.2s linear infinite;
}

.reflective-light:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 0.15vw;
  height: 1.4vw;
  left: -0.3vw;
  top: 0.55vw;
  animation: LightMove 0.2s linear infinite;
}
